.sideBar {
  display: inline-block;
  height: 100vh;
  min-width: 190px;
  background-color: #212529;
}

.list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 19px 16px 0 16px;
}

.item {
  font-size: 16px;
  line-height: 20px;
  margin-top: 9px;
  border-radius: 4px;
  transition: background-color 0.2s ease-out;

  &:first-child {
    margin-top: 0;
  }

  &:hover,
  &.active {
    background-color: #0d6efd;
  }

  a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 9px 17px 9px 38px;
  }
}
